@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');


header{
    margin-left: 25%;
    background-color:  hsl(10, 79%, 65%);
    border-radius: 15px;
    width: 50%;
    text-align: left;
    margin-bottom: 1px;
}

.cabe{
    margin-left: 40px;
    margin-top: 20px;
    padding-top: 20px;
    color: white;
    margin-right: 0px;
}

h1{
    color: white;
    margin-left: 40px;
    margin-right: 0px;
}

.logo{
    padding:0px;
    float: absolute;
    margin-left: 550px;

}
body{
    background-color:hsl(27, 66%, 92%) ;
}
.section1{
    background-color: white !important;
    border-radius: 15px;
    width: auto;
    width: 50%;
    margin-left: 25%;
    margin-top: 1px;
    padding-bottom: 190px;
}
header, body{
    font-family: 'DM sans';
}
.attribution{
    display: none;
}